.result-box {

    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
   
    background: #fff;
    padding: 20px;
    border-radius: 5px;

    max-width: 350px;
    width: 100%;

    transform: translate(-50%, -50%);
    transition: all 1s ease;
}

.result-box.hide{
    opacity: 0;
    pointer-events: none;
}

.result-box #winning-text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.result-box p {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.result-box .button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.winstreak {
    margin: auto;
    display: flex;

    justify-content: center;
    align-items: center; /* same as flex-direction: column; */  
    text-align: center;

    height: 4.2vh;
    width: 4.2vw;
    max-width: 100px;
    max-height: 100px;

    /* play with this plz*/
    font-family: Times;
    font-size: 2.5vw;
    color: #3e0249;

    border: 5px solid;
    border-color: #56BAED;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
}