/* CSS for the thing */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 26px;
    color: white;
}

* {
    box-sizing: border-box;
}
  
#game-board{
    display: flex;
    flex-wrap: wrap;

    margin-top: 40px;
    width: 450px;
}

.container.hide {
    opacity: 0;
    pointer-events: none;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    
    padding: 40px;
 
    transition: all 0.3s ease;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    width: 150px;
  
    font-size: 150px;
}
  
#sideBar {
    justify-content: center;
    align-items: center;

    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;

    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    
    background-color: #000000;
    background: linear-gradient(#000000 0%, #2c3e50 74%);
    /* background: linear-gradient(black, #333 33%,  rgb(137, 113, 113)); Black */

    padding: 2.5vw;
    padding-top: 20px;
    margin-right: 10vw;

    overflow-x: hidden; /* disable scroll */
}

#sideBar h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    margin: auto;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; /* same as flex-direction: column; */  

    height: 10vw;
    width: 10vw;
    max-width: 100px;
    max-height: 100px;

     /* max-height: 150px;
    max-width: 150px; */

    padding: 0;
    /* play with this plz*/
    color: #3e0249;
    font-family: Times;
    font-size: 2.5vw;
    border-color: #3e0249;
    border: 3px solid;
    border-radius: 10px;
    background-color: lightgrey;
}

.timer-title{
    margin-top: 2vw;
    margin-bottom: 0.5vw;
}
