/*  Code credit to CodingNepal */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::selection {
    color: #fff;
    background: #56BAED;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body.hide {
    background-color: #fff;
}

.default-background {
    background: #56BAED;
}

.new-background {
    background: linear-gradient(to right,#36d1dc, #5b86e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.select-box {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 20px 25px 25px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.select-box.hide{
    opacity: 0;
    pointer-events: none;
}

.select-box header{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.select-box .title{
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0;
}

.select-box .options{
    display: flex;
    width: 100%;
}

.options button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    outline:none;
    background: #56BAED;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.options button:hover {
    transform: scale(0.96);
}

button.playerX{
    margin-right: 5px;
}

button.playerO{
    margin-left: 5px;
}

button.singlePlayer{
    margin-right: 5px;
}

button.multiPlayer{
    margin-left: 5px;
}

button.minMaxBot{
    margin-right: 5px;
}

button.randomBot{
    margin-left: 5px;
}

.back-section{
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 95%; /* Stay at the top */
    left: 50%;

    display: flex; 
    /*justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; */

    /* background: purple; */
    padding: 20px 25px 25px;
    border-radius: 10px;
    max-width: 200px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.back-section.hide{
    opacity: 0;
    pointer-events: none;
}
.back{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    outline:none;
    background:#fff ;
    color:#56BAED;
    cursor: pointer;
    transition: all 0.3s ease;
}